// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.
/* Decidim has a bug when using external_icon method that automatically adds a display:none inline css */
.login__omniauth-button {
  display: inline-flex;
  align-items: center;

  img.icon.external-icon {
    height: 36px;
    width: auto;
    padding: 2px;
    display: inline-block !important;
  }
}

.main-bar__links-desktop {
  @media (min-width: 768px){
    [data-target*=dropdown] {
      @apply block;

      div {
        @apply block text-secondary text-sm text-center;

        svg {
          @apply inline-block;
        }
      }
    }
  }

  .main-header__language-chooser {
    @apply relative z-10;
      > ul {
        @apply absolute left-0 bg-white p-4 shadow-md text-left;

        >li {
          @apply text-secondary text-md hover:underline hover:bg-secondary hover:text-white transition;
        >a {
          @apply p-2 w-full block;
        }
      }
    }
  }
}