// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

@import "stylesheets/somenergia/global_styles";
@import "stylesheets/consultation_overrides/question_multiple_votes";
@import "stylesheets/consultation_overrides/consultations_question_requirements_validator";

/* Decidim has a bug when using external_icon method that automatically adds a display:none inline css */

.button--cas {
  .button--social__icon {
    padding: .3em .7rem;

    img.icon.external-icon {
      height: 36px;
      width: auto;
      padding: 2px;
      display: inline-block !important;
    }
  }

  .button--social__text {
    text-align: center;
  }
}
