/*
Paleta official:
Verd clar
#E0E722
RGB (224,231,34)

Verd primari:
#97D700
RGB (151,215,0

Gris secundari:
#4D4D4D
RGB (77,77,77)

Degradatas neger del 90 al 60%

COLOR DEL MIG DEL
DEGRADAT DELS DOS
COLORS CORPORATIUS
PRINCIPALS
#AFBE3F
RGB (175,190,63)

*/
$green2: #bbc82a;
$gray-opacity: rgba(26, 24, 29, .2);
$gray: #dedede;

a {
  color: var(--primary);

  &:hover,
  &:focus {
    color: var(--secondary);
  }
}

a.consultations-header__link,
.text-highlight a {
  color: #fff !important;
}

.topbar__edit__link {
  a {
    color: var(--primary) !important;

    &:hover,
    &:focus {
      color: var(--secondary);
    }
  }
}

.link {
  color: var(--primary) !important;

  &:hover,
  &:focus {
    color: var(--secondary);
  }
}

.hero {
  &::after {
    background-color: $gray-opacity;
  }
}

// .button {
//   color: #fff !important;

//   &:hover,
//   &:focus {
//     color: #fff !important;
//     background-color: var(--secondary) !important;
//     filter: none;
//   }
// }

// .button.hollow {
//   background-color: $green2 !important;
//   border: 0 !important;
//   text-decoration: none;
//   filter: brightness(100%);

//   &:hover {
//     background-color: var(--primary) !important;
//   }
// }


.floating-helper__content-close {
  svg.icon {
    fill: #fff;
  }
}

.topbar__search {
  input {
    background: #fff;
    border-color: $gray;
  }

  &:not(:focus-within) {
    button {
      background: #dedede;
    }
  }
}

.dropdown.menu {
  >li,
  li.is-active,
  .is-active {
    >a {
      background: transparent;
      color: var(--primary);
    }
  }
}

h2,
.h2 {
  font-size: 1.6em;
}

h3,
.h3 {
  font-size: 1.45rem;
}

.topbar__dropmenu {
  >ul {
    >li {
      >a {
        &::after {
          border-top-color: var(--secondary) !important;
        }

        color: var(--secondary);
      }
    }
  }

  .is-dropdown-submenu {
    li {
      a {
        color: var(--primary) !important;
      }
    }
  }
}

.navbar {
  background: #fff;

  a,
  .button {
    &:focus {
      outline-color: $gray;
    }
  }
}

.main-nav__link {
  a {
    position: relative;
    display: block;
    padding: 1em 2em .1em;
    color: var(--secondary);

    &:hover {
      background: #fff;
      color: var(--secondary);
      text-decoration: underline;
    }
  }
}

.main-nav__link--active {
  a {
    font-weight: 600;
    background: #fff !important;
    box-shadow: 0 3px var(--primary);
    color: var(--secondary);
  }
}

main#content {
  margin-top: 3px;
}

.process-nav__link {
  font-weight: 600 !important;
  font-size: .8em;
}

span.card__title.card__link {
  color: var(--primary) !important;
}

h2#process_title {
  color: var(--primary) !important;
}

.card__link {
  a {
    color: var(--primary);

    &:hover {
      color: var(--primary);
    }
  }
}

.process-header__main {
  &::after {
    background-color: $gray-opacity;
  }
}

.comment__reply.muted-link {
  color: var(--primary);
}

.comment__reply[data-toggle].muted-link {
  color: var(--primary);
}

.link-alt {
  cursor: pointer;
  color: var(--primary);
}

.label.success {
  background: #39a935;
  color: #fff;
}

.progress__bar {
  .progress__bar__bar {
    .progress__bar__bar--complete {
      border-radius: 0;
      background-color: var(--primary);
      height: 100%;
    }
  }
}

.card.success {
  border-top-width: 8px;
  border-top-color: var(--primary);
}

.success.chart-tooltip {
  border-top-width: 8px;
  border-top-color: var(--primary);
}

.success.conference-registration {
  border-top-width: 8px;
  border-top-color: var(--primary);
}

.conference-speaker {
  .success.speaker-bio {
    border-top-width: 8px;
    border-top-color: var(--primary);
  }
}

.success.add-message {
  border-top-width: 8px;
  border-top-color: var(--primary);
}

.success.comment-thread {
  border-top-width: 8px;
  border-top-color: var(--primary);
}

.author-data {
  .author__name {
    color: var(--secondary);
    margin-bottom: 0;
  }
}

.card__text {
  .card__text--status.success {
    color: var(--primary);
  }
}

.main-footer {
  background-color: $gray;

  a {
    color: #5b5b5f !important;
  }
}

.main-nav__link--active {
  a {
    background: #bbca2b;
    font-weight: 600;
  }
}

.cookie-warning {
  display: none !important;
  visibility: hidden;
}

.title-bar {
  background-color: #fff;
}

.topbar__user__login {
  a {
    color: var(--secondary);
  }
}

.main-footer__badge {
  width: 90px;
}

.mini-footer {
  .decidim-logo {
    display: none;
  }
}

.topbar__notifications,
.topbar__conversations {
  .icon {
    fill: #585858;
  }
}
